.wrapper{
    display: flex;
    align-items: center;
    cursor: pointer;

    
    &:hover{
        background-color: #414141;
    }

}
.item{
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}