
.row{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 100px;
}

.row a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.box{
    width: 400px;
    height: 200px;
    background-color: #474747;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
    font-size: 25px;   
}

.box:hover {
    transform: scale(1.05);
}
